table th {
    text-align: center; 
 }
 
 .table {
    margin: auto;
    margin-top: 3%;
    width: 60%; 
 }

body{
   height: 100%;
   margin: 0;
}
header{
   /* position: fixed; */
   left: 0;
   top: 0;
   width: 100%;
}